#IterYoutubeGIF {
	position: fixed;
	width: 480px;
	height: 320px;
	top: 10px;
	right: 10px;
	color: #000;
	font-size: 15px;
	font-family: "Times New Roman", Times, serif;
	padding: 10px;
	background-color: #F9F9F9;
	box-shadow: 0px 0px 7px #888;
	border-radius: 5px;
	z-index: 2100000000;
	
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	line-height: normal;
}

#IterYoutubeGIF input[type=button] {
	background-color: #0099CC;
	border: 1px solid #0077AA;
	color: #f9f9f9;
	margin-left: 5px;
	cursor: pointer;
	border-radius: 3px;
}

.menuIcon {
	vertical-align: middle;
	margin: 0px 6px 0px 0px;
	padding: 0px;
	border: 0px;
	cursor: pointer;
	height: 20px;
	min-width: 20px;
}

#IterYoutubeGIF a:link { font-size: 15px; color: #00F; text-decoration: none; }
#IterYoutubeGIF a:visited { font-size: 15px; color: #00F; text-decoration: none; }
#IterYoutubeGIF a:hover { text-decoration: underline; }
#IterYoutubeGIF a:active { color: #039; }
